body {
    background-color: #90CAF9;
}
.bg--logo {
    background: #42A5F5;
}
.perfil {
    display: inline;
}
.tex--img{
    font-family: 'Amatic SC', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 900;
    position: relative;
    text-align: left;
}
.section--1{
    margin-top: 1rem;
}
.sec1--col2{
    position: relative ¡important;
}
.img--fo{
    width: 5vw;
    margin: 2vw 3vw;
}