body{
background-color: #fcfcfc;
}
.name{
    background-color: #42A5F5;
}
.name .img{
    width: 100px;
}
.tex--img{
    font-family: 'Amatic SC', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 900;
    position: relative;
    text-align: left;

}