.img--fo{
    width: 5vw;
    margin: 2vw 3vw;
}
body {
    background-color: #90CAF9;
}
.bg--logo {
    background: #42A5F5;
}
.tex--img{
    font-family: 'Amatic SC', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 900;
    position: relative;
    text-align: left;
}
.bg--footer {
    background-color: #00000033;
    border-radius: 5px;
}